.profile{
    margin-top: 35.25px;
    margin-bottom: 47.25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px){
    .profile{
        width: 80%;
        margin: 38px auto 36px;
        flex-direction: column;
    }
}