.profile__add-button{
    background-color: black;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
    max-width: 150px;
    width: 20%;
    height: 50px;
    padding: 0;
}

@media (max-width: 767px){
    .profile__add-button{
        width: 282px;
        max-width: 100vw;
    }
}